<div ng-switch="mode" ng-if='vu("${_arg.name}", item)' class='form-group' docflow-widget-password ng-model="$parent.${_arg.update}">
    <!-- Change password button -->
    <div ng-switch-when="changeButton">
        <label class='col-md-4 control-label' for='${_arg.id}'>${messages.get(messages.get(_arg.title))}&nbsp;:</label>
        <div class='col-md-8 controls'>
            <label ng-if="v('${_arg.name}',item)" class='control-label' >********</label>
            <div ng-if="u('${_arg.name}',item)">
                <button id="${_arg.id}" class="btn btn-primary" ng-click="changePassword()"><i class="fa fa-key"></i> &{'form.btn.changePassword'}</button>
            </div>
        </div>
    </div>
    <div ng-switch-when="passwordFields">
        <!-- Password input -->
        <div class='form-group'>
            <label class='col-md-4 control-label' for='${_arg.id}_pwd1'>&{'form.field.enterNewPassword'}&nbsp;:</label>
            <div class='col-md-8'>
            #{std.input-frame}
                <input id="${_arg.id}_pwd1" class="form-control" type="password" name="${_arg.id}_pwd1" ng-model="$parent.pwd1" required ng-class="{'input-valid-error': form.${_arg.id}_pwd1.$invalid}">
            #{std.input-frame-simple-validation "${_arg.id}_pwd1", debug: _debug }
                #{std.input-frame-simple-message "${_arg.id}_pwd1", debug: _debug, err: 'required' /}
            #{/std.input-frame-simple-validation}#{/std.input-frame}
            </div>
        </div>
        <!-- Confirmation password -->
        <div class='form-group'>
            <label class='col-md-4 control-label' for='${_arg.id}_pwd2'>&{'form.field.enterConfirmPassword'}&nbsp;:</label>
            <div class='col-md-8'>
            #{std.input-frame}
                <input id="${_arg.id}_pwd2" class="form-control" type="password" name="${_arg.id}_pwd2" ng-model="$parent.pwd2" docflow-widget-password-match required ng-class="{'input-valid-error': form.${_arg.id}_pwd2.$invalid}">
            #{std.input-frame-simple-validation "${_arg.id}_pwd2", debug: _debug }
                #{std.input-frame-simple-message "${_arg.id}_pwd2", debug: _debug, err: 'required' /}
                #{std.input-frame-simple-message "${_arg.id}_pwd2", debug: _debug, err: 'passwordMatch' /}
            #{/std.input-frame-simple-validation}#{/std.input-frame}
            </div>
        </div>
    </div>
</div>
