<form name="form" novalidate class="form-horizontal">
%{ def anyTabs = _tmpl.tabs != null
   def skipSubj = _tmpl.name == 'linkedDocument'
    if (_tmpl.secondFields.size() == 0) { }%
    <div class="col-md-12">
    %{ _tmpl.fields.each { field -> if (field.hidden || (anyTabs && _tmpl.getTabByName(field.name) != null) || (skipSubj && field.name =='subj')) return; if (_debug) field.debugSmartTag('form', this, [wide: true]); field.smartTag('form', this, _debug, [wide: true]); } }%
    </div>
    %{ } else { }%
    <div class="col-md-6">
    %{ _tmpl.firstFields.each { field -> if (field.hidden || (anyTabs && _tmpl.getTabByName(field.name) != null) || (skipSubj && field.name =='subj')) return; if (_debug) field.debugSmartTag('form', this); field.smartTag('form', this, _debug); } }%
    </div>
    <div class="col-md-6">
    %{ _tmpl.secondFields.each { field -> if (field.hidden || (anyTabs && _tmpl.getTabByName(field.name) != null) || (skipSubj && field.name =='subj')) return; if (field.info) { if (_debug) field.debugSmartTag('form', this); field.smartTag('form', this, _debug) }} }%
    %{ _tmpl.secondFields.each { field -> if (field.hidden || (anyTabs && _tmpl.getTabByName(field.name) != null) || (skipSubj && field.name =='subj')) return; if (!field.info) { if (_debug) field.debugSmartTag('form', this); field.smartTag('form', this, _debug) }} }%
    </div>%{ } }%
#{doBody /}
</form>
