<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/doc">Test UI Controls</a>
                <span class="dropdown navbar-text pull-right">
                    <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown"
                       docflow-widget-dropdown>&{'nav.user.name'}</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> &{'nav.user.profile'}</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> &{'nav.user.options'}</a></li>
                        <li><a href="#" ng-click="signOut()"><i class="fa fa-signout"></i>  &{'nav.user.logout'}</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-info-sign"></i>  &{'nav.user.system.version'}</a></li>
                    </ul>
                </span>
        <ul class="nav">
            <li><a href="/doc/TestUISimpleControls">Simple Controls</a></li>
            <li><a href="/doc/TestUIPositions">Positions</a></li>
        </ul>
    </div>
</div>
