<button class="btn" docflow-widget-popover='{placement:"top",content:"next"}'>
     &{"password.field.change"}
</button>
<div class="popover password-change-table">
    <div class="popover-content">
        <input class="input-middle" type="password" placeholder="&{"password.field.change.sign1"}"/>
        <input class="input-middle" type="password" placeholder="&{"password.field.change.sign2"}"/>
        <button class="btn btn-info btn-mini" docflow-widget-popover-close><i class="fa fa-check"></i>  ДА</button>
        <button class="btn btn-delete btn-mini" docflow-widget-popover-close><i class="fa fa-ban"></i>  НЕТ</button>
    </div>
</div>
