<div class="col-md-1">
%{ if (_debug) _arg.debugSmartTag('docs', this); }%
#{std.input-frame _arg, debug: _debug}
<table class="df-table-input-element" ng-if="u('${_arg.name}',item)" ng-model="$parent.item.${_arg.name}" name="${_arg.name}"%{ if (_arg.required) { }% required%{ } }%
docflow-widget-tags='{docType:"${_arg.tagsDocType}",template:"dict"}'>
<tr>
    <td>
        <input docflow-select2 type="hidden">&nbsp;
    </td>
%{  def checks = ['required']
    if (checks.any { err -> _arg[err] }) { }%
    <td class='warning-sign-td'>
        <i ng-show='u("${_arg.name}",item)&&form.${_arg.name}.$invalid' class='fa fa-warning' docflow-widget-popover="{trigger:'hover',placement:'right'}">
            <div class='popover'>
                <div class='arrow'></div>
                <div class='popover-content'>
                %{ checks.each { err -> if (_arg[err]) { }%<label ng-show='u("${_arg.name}",item)&&form.${_arg.name}.$error.${err}'>${messages.get("validation." + err, _arg[err])}</label>%{ }} }%
                </div></div></i>
        <i ng-hide='u("${_arg.name}",item)&&form.${_arg.name}.$invaid' class='fa fa-warning opacity0'></i>
    </td>
%{ } }%
</tr>
</table>
#{/std.input-frame}
</div>
