<div class="col-md-1">
%{ if (_arg.view) { }%<p class="form-control-static" ng-if='v("${_arg.name}", item)'>{{item.${_arg.name}}}</p> %{ } }%
%{ if (_arg.update) { }%<table class='df-table-input-element'>
    <tr>
        <td>
            <textarea ng-if='u("${_arg.name}",item)'
                      id='${_arg.id}' name='${_arg.name}'
                      class='grd-white form-control' ng-model='${_arg.update}'

              %{if (_arg.required)
                out.print " required"
                ['minLength', 'maxLength'].each{ err ->
                if (_arg[err])
                out.print " $err='${_arg[err]}'"
                } }%
                ng-class="{'input-valid-error': form.${_arg.name}.$invalid}">
            </textarea>
        </td>
        <td>
        <i ng-show='u("${_arg.name}",item)&&form.${_arg.name}.$invalid' class='fa fa-warning'
            docflow-widget-popover="{trigger:'hover', placement:'right'}" >
            <div class='popover'>
                <div class='arrow'></div>
                <div class='popover-content'>
              %{['required', 'minLength', 'maxLength', 'pattern'].each{ err ->
                if (_arg[err])
                out.println "<label ng-show='u(\"${_arg.name}\",item)&&form.${_arg.name}.$error.$err'>${messages.get("validation." + err, _arg[err])}</label>"
                } }%
                </div>
            </div>
        </i>
        <i ng-hide='u("${_arg.name}",item)&&form.${_arg.name}.$invalid' class='fa fa-warning opacity0'></i>
        </td>
    <tr>
</table>%{ } }%
</div>
