<div class="modal-dialog df-modal-confirm">
    <div class="modal-content">
        <div class="modal-header df-modal-header-confirm">
            <button type="button" class="close" ng-click="$close()">&times;</button>
            <h4>&{'form.confirmationDlg.title'}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2"><i class="fa fa-question-circle"></i></div>
                <div class="col-md-10">{{question}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="$close()">&{'form.ok'}</button>
            <button class="btn btn-primary" ng-click="$dismiss()">&{'form.no'}</button>
        </div>
    </div>
</div>